body {
   color: #1A0C0D;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   background: linear-gradient(to bottom, #FCA93A, #C66136);

}

header {
   background-color: #1A0C0D;
   padding: 45px 10px;

}

h1,h3 {
   margin: 0;
}

h1 {
   color: whitesmoke;
   font-size: 36px;
}

h2 {
   margin-top: 0;
}
 

h3 {
   color: whitesmoke;
}

nav a {
   color: #fff;
   text-decoration: none;
   font-size: 1.125rem;
   padding: 0.8em 0px;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

a {
   color: whitesmoke;
   text-decoration: underline dotted;
   display: inline-block;
}

a:hover {
   color: #081e23
}

section  {
   padding: 45px 0;
}

p {
   line-height: 23px;
}
    
@media only screen and (max-width: 768px) {
   section {
      padding: 45px 15px
      ;
   }
}

main {
   margin: 0%;
}

.link-btns {
   background-color: #081e23;
   padding: 10px 19px;
   border-radius: 5px;
   text-decoration: none;
   border: solid 1px #081e23 ;
   transition: 0.3s;

}

.link-btns:hover {
   background-color: #FCA93A;
   font-weight: bold;
}

#about-btn, #info-btn {
   background-color: #C66136;
}

#about-btn:hover, #info-btn:hover {
   background-color: #FCA93A;
   border: solid white 1px;
}

#section-one-img {
   width: 100%;
   border-radius: 10px;

   
}

.text-container {
   display: flex;
   gap: 1em;
   flex-wrap: wrap;
}



.section-two-img {
   width: 300px;
   border-radius: 4.6px;
   transition: 0.25s;
}

.section-two-img:hover {
   width: 300px;
   border-radius: 4.6px;
   transform: scale(105%);
   box-shadow: #C66136 0px 5px 5px 1px;
}
@media only screen and (max-width: 768px) {
   #title-section-two {
      text-align: center;
   }
}


.container {
   max-width: 620px;
   margin: 0 auto;
}

.section-two {
   background-color: #1A0C0D;
   color: whitesmoke;
   margin-bottom: 0;
}


.img-div {
   display: flex;
   justify-content: center;
}

.wiggle {
   varaudio = new Audio('path/to/your/song.mp3');
}




.wiggle:hover, #section-one-img:hover  {
   animation: wiggle 1s linear infinite;
}

.img-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}

@media only screen and (max-width: 768px) {
   .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
   }
}

footer {
   background-color: white;
   color: #C66136;
   font-weight: bold;
   text-align: center;
   margin-top: 0%;
}

#footer-text {
   padding: 50px 0px;
   margin: 0%;
}
 
@keyframes wiggle {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes section-one-img {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.container-one {
   border: solid 1px white;
   max-width: 750px;
   margin: 0 auto;
   color: white;
   background-color: #081e23b8;
   padding: 25px 25px;
   border-radius: 5px;
}

@media (max-width: 768px) {
   header {
text-align: center;
   }
   nav {
margin-bottom: 15px;
   }
   li:not(:last-child) {
      border-bottom: 1px dotted #a190b6;
   }
   
}

@media (min-width: 768px) {
   header,
   section {
       padding: 2.875em 0;        
   }

   header .container {
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;
   }
   
   nav ul {
       display: flex;
       gap: 1rem;
   }
   
   .btn {
       display: inline-block;
       margin-right: 0.5em;
   }
   
   h1 {
       font-size: 2.25rem;
   }
   
   h2 {
       font-size: 1.75rem;
   }
   
   .subheading {
       font-size: 1.25rem;
   }
   
   p {
       font-size: 1.125rem;
   }
}
